.Acc__Ma {
    background: linear-gradient(to right, #aa77fd, #7f00ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;

    .Acc__Ma__Se1 {
        padding-bottom: 2rem;

        .Acc__Ma__Se1__H1 {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: rgb(146, 13, 102);
            ;
            color: rgb(0, 0, 0);
            margin-top: 1%;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .Acc__Ma__Se2 {
        .Acc__Ma__Se2__H2 {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: black;
            color: rgb(255, 255, 255);
            border-radius: 10px 120px;
        }

        .Acc__Ma__Se2__Div1 {
            padding-top: 2rem;
            padding-left: 2rem;
            padding-bottom: 2rem;
            padding-right: 2rem;

            .Acc__Ma__Se2__Div1__Div1 {
                padding-right: 1rem;
                padding-bottom: 2rem;

                .Acc__Ma__Sec2__Div1__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }

        .Acc__Ma__Sec2__Div1__Div2 {
            .Acc__Ma___Sec2__Div1__Div2__Img {
                border: 3px solid black;
                border-radius: 10px;
            }
        }
    }

    .Acc__Ma__Se3 {
        .Acc__Ma__Se3__H2a {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: black;
            color: rgb(255, 255, 255);
            border-radius: 10px 120px;
        }

        .Acc__Ma__Se3__Div1 {
            padding-top: 2rem;
            padding-left: 2rem;
            padding-bottom: 2rem;
            padding-right: 2rem;

            .Acc__Ma__Se3__Div1__Div1 {
                padding-right: 1rem;
                padding-bottom: 2rem;

                .Acc__Ma__Se3__Div1__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Acc__Ma__Se3__Div1__Div2 {
                .Acc__Ma__Se3__Div1__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }
    }

    .Acc__Ma__Se4 {
        .Acc__Ma__Se4__H2b {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: black;
            color: rgb(255, 255, 255);
            border-radius: 10px 120px;
        }

        .Acc__Ma__Se4__Div1 {
            padding-top: 3rem;
            padding-left: 2rem;
            padding-bottom: 3rem;
            padding-right: 2rem;

            .Acc__Ma__Se4__Div1__Div1 {
                padding-right: 1rem;
                padding-bottom: 2rem;

                .Acc__Ma__Se4__Div1__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Acc__Ma__Se4__Div1__Div2 {
                .Acc__Ma__Se4__Div1__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }
    }

    .Acc__Ma__Se5 {
        .Acc__Ma__Se5__H2c {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: black;
            color: rgb(255, 255, 255);
            border-radius: 10px 120px;
        }

        .Acc__Ma__Se5__Div1 {
            padding-top: 2rem;
            padding-left: 2rem;
            padding-bottom: 2rem;
            padding-right: 2rem;

            .Acc__Ma__Se5__Div1__Div1 {
                padding-right: 1rem;
                padding-bottom: 2rem;

                .Acc__Ma__Se5__Div1__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Acc__Ma__Se5__Div1__Div2 {
                padding-right: 1rem;
                padding-bottom: 2rem;

                .Acc__Ma__Se5__Div1__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Acc__Ma__Se5__Div1__Div3 {
                padding-right: 1rem;
                padding-bottom: 2rem;

                .Acc__Ma__Se5__Div1__Div3__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }
    }
}

.Acc__Ma__H2d {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 120px 120px 120px;
    font-size: 1.3rem;
}
