.Con__Ma {
    background: $fondo-violeta-degrade;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

    .Con__Ma__Se1 {
        padding-top: 1rem;

        .Con__Ma__Se1__H1 {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: $fondo-titulo-principal;
            color: $fuente-color-principal;
            margin-top: 1%;
            font-size: 1.5rem;
            text-align: $text-aling;

        }

        .Con__Ma__Se1__Div1 {
            padding-top: 2rem;

            .Con__Ma__Se1__Div1__H2 {
                display: flex;
                justify-content: center;
                padding: 1rem;
                background-color: $fondo-titulo-secundario;
                color: $fuente-color-secundario;
                border-radius: $bordes-titulo-secundario;

            }

            .Con__Ma__Se1__Div1__Div1 {
                padding-top: 1rem;

                .Con__Ma__Se1__Div1__Div1__P {
                    text-align: $text-aling;
                    font-size: 1.1rem;
                    align-items: center;
                    color: $fuente-color-secundario;
                    background-color: $fondo-p;
                    border: $bordes-p;
                    padding-left: 3rem;
                    padding-right: map-get($paddingright, P3);
                    padding-top: 3rem;
                    padding-bottom: 3rem;

                }
            }
        }

        .Con__Ma__Se1__Div2 {
            margin-top: 2rem;

            .Con__Ma__Se1__Div2__H2 {
                display: flex;
                justify-content: center;
                padding: 1rem;
                background-color: $fondo-titulo-secundario;
                color: $fuente-color-secundario;
                border-radius: $bordes-titulo-secundario;
            }

            .Con__Ma__Se1__Div2__P {
                text-align: $text-aling;
                font-size: 1.1rem;
                align-items: center;
                color: $fuente-color-secundario;
                background-color: $fondo-p;
                border: $bordes-p;
                padding-left: 3rem;
                padding-right: map-get($paddingright, P3);
                padding-top: 3rem;
                padding-bottom: 3rem;

            }
        }
    }

    .Con__Ma__Se2 {
        padding-bottom: 2rem;

        .Con__Ma__Se2__Form {
            display: block;
            text-align: $text-aling;
            background-color: $fondo-titulo-secundario;
            color: $fuente-color-secundario;
            border-radius: $bordes-imagenes;
            border: 1px solid black;
            padding-bottom: 2rem;

            .Con__Ma__Se2__H2 {
                display: flex;
                justify-content: center;
                padding: 1rem;
                background-color: $fondo-titulo-secundario;
                color: $fuente-color-secundario;
                border-radius: $bordes-titulo-secundario;

            }

            /*
            .Con__Ma__Se2__Form__Div1{
                .Con__Ma__Se2__Form__Div1__Label1{

                }
                .Con__Ma__Se2__Form__Div1__Input1{
                
                }
            }
            .Con__Ma__Se2__Form__Div2{
                .Con__Ma__Se2__Form__Div2__Label2{

                }
                .Con__Ma__Se2__Form__Div2__Input2{
                
                }
            }
            .Con__Ma__Se2__Form__Div3{
                .Con__Ma__Se2__Form__Div3__label3{

                }
                .Con__Ma__Se2__Form__Div3__Textarea{
                
                }*/
        }
    }

}

.Con__Ma__Se1__Se2__H2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: $fondo-titulo-secundario;
    color: $fuente-color-secundario;
    text-align: $text-aling;
    border-radius: $bordes-piedepagina;
    font-size: 1.3rem;
}