.In__Ma {
    background: $fondo-violeta-degrade;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

    .In__Ma__H1 {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: $fondo-titulo-principal;
        color: $fuente-color-principal;
        margin-top: 1%;
        font-size: 2rem;
        text-align: $text-aling;
    }

    .In__Ma__Sec1 {
        display: flex;
        padding-bottom: 3rem;
        padding-top: 3rem;
        


        .in__Ma__Sec1__Div1 {
          

            .In__Ma__Sec1__Div1__P{
                text-align: $text-aling;
                font-size: 1.1rem;
                align-items: center;
                color: $fuente-color-secundario;
                background-color: $fondo-p;
                border: $bordes-p;
                padding-left: 3rem;
                padding-right: map-get($paddingright, P3);
                padding-top: 3rem;
                padding-bottom: 3rem;

                span {
                    font-size: 1.3rem;
                    color: rgb(255, 111, 207);

                }
            }


        }
    }

    .In__Ma__Sec2 {
        display: flex;
        flex-direction: column;

        .In__Ma__Sec2__h2 {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: $fondo-titulo-secundario;
            color: $fuente-color-secundario;
            border-radius: $bordes-titulo-secundario;
           
        }

        .In__Ma__Sec2__Div1 {
            display: flex;
            margin-top: 2rem;

            .in__Ma__Sec2__Div1__Div1 {
                margin-top: 2rem;

                .in__Ma__Sec2__Div1__Div1__Div1 {
                    padding-bottom: 3rem;
                    padding-right: map-get($paddingright, P2);
                    .In__Ma__Sec2__Div1__Div1__Div1__Img {
                        border: $bordes-color-imagen;
                        border-radius: $bordes-imagenes;
                    }
                }
                .in__Ma__Sec2__Div1__Div1__Div2 {
                    padding-bottom: 3rem;
                    padding-right: 2rem;
                    .In__Ma__Sec2__Div__Div1__Div2__P {
                        text-align: center;
                        font-size: 1rem;
                        align-items: center;
                        color: $fuente-color-secundario;
                        background-color: $fondo-p;
                        border: $bordes-p;
                        padding-top: 3rem;
                        padding-left: 2rem;
                        padding-right: map-get($paddingright, P2);
                        padding-bottom:3.5rem;
                    }
                }
            }

            
        }
    }

    .In__Ma__Sec3 {
        display: flex;
        flex-direction: column;


        .In__Ma__Sec3__H2a {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: $fondo-titulo-secundario;
            color: $fuente-color-secundario;
            border-radius: $bordes-titulo-secundario;
        }

        .In__Ma__Sec3__Div {
            display: flex;
            justify-content: space-evenly;
            padding-top: 2rem;
            padding-bottom: 2rem;

            .In__Ma__Sec3__Div__Img {
              
                display: flex;
                justify-content: center;
                border: $bordes-color-imagen;
                border-radius: $bordes-imagenes;
            }
        }


    }

    .In__Ma__Sec3__h2b {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: $fondo-titulo-secundario;
        color: $fuente-color-secundario;
        text-align: $text-aling;
        border-radius: $bordes-piedepagina;
        
    }

}