.Ro__Ma {
    background: linear-gradient(to right, #aa77fd, #7f00ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;

    .Ro__Ma__H1 {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: rgb(146, 13, 102);
        ;
        color: rgb(0, 0, 0);
        margin-top: 1%;
        font-size: 1.5rem;
        text-align: center;
    }

    .Ro__Ma__Se1 {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .Ro__Ma__Se1__H2 {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: black;
            color: rgb(255, 255, 255);
            border-radius: 10px 120px;
        }

        .Ro__Ma__Se1__Div1 {
            padding-top: 4rem;

            .Ro__Ma__Se1__Div1__Div1 {
                padding-bottom: 2rem;

                .Ro__Ma__Se1__Div1__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Div1__Div1__Div2 {
                padding-bottom: 2rem;

                .Ro__Ma__Se1__Div1__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Div1__Div1__Div3 {
                .Ro__Ma__Se1__Div1__Div3__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }

        .Ro__Ma__Se1__Div2 {
            padding: 1rem;

            .Ro__Ma__Se1__Div2__Div1 {
                padding-bottom: 2rem;

                .Ro__Ma__Se1__Div2__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se1__Div2__Div2 {
                padding-bottom: 2rem;

                .Ro__Ma__Se1__Div2__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se1__Div2__Div3 {
                .Ro__Ma__Se1__Div2__Div3__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }

        .Ro__Ma__Se1__Div3 {
            padding: 1rem;

            .Ro__Ma__Se1__Div3__Div1 {
                padding-bottom: 2rem;

                .Ro__Ma__Se1__Div3__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se1__Div3__Div2 {
                padding-bottom: 2rem;

                .Ro__Ma__Se1__Div3__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Div1__Div3__Div3 {
                .Ro__Ma__Se1__Div3__Div3__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }


    }

    .Ro__Ma__Se2 {
        padding-bottom: 2rem;

        .Ro__Ma__Se2__H2 {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: black;
            color: rgb(255, 255, 255);
            border-radius: 10px 120px;
        }

        .Ro__Ma__Se2__Div1 {
            padding-top: 4rem;

            .Ro__Ma__Se2__Div1__Div1 {
                padding-bottom: 2rem;

                .Ro__Ma__Se2__Div1__Div1_Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se2__Div1__Div2 {
                padding-bottom: 2rem;

                .Ro__Ma__Se2__Div1__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se2__Div1__Div3 {
                .Ro__Ma__Se2__Div1__Div3__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }

        .Ro__Ma__Se2__Div2 {
            padding: 1rem;

            .Ro__Ma__Se2__Div2__Div1 {
                padding-bottom: 2rem;

                .Ro__Ma__Se2__Div2__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se2__Div2__Div2 {
                padding-bottom: 2rem;

                .Ro__Ma__Se2__Div2__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se2__Div2__Div3 {
                .Ro__Ma__Se2__Div2__Div3__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }

        .Ro__Ma__Se2__Div3 {
            padding: 1rem;

            .Ro__Ma__Se2__Div3__Div1 {
                padding-bottom: 2rem;

                .Ro__Ma__Se2__Div3__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se2__Div3__Div2 {
                padding-bottom: 2rem;

                .Ro__Ma__Se2__Div3__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se2__Div3__Div3 {
                .Ro__Ma__Se2__Div3__Div3__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }

    }

    .Ro__Ma__Se3 {
        padding-bottom: 2rem;

        .Ro__Ma__Se3__H2 {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: black;
            color: rgb(255, 255, 255);
            border-radius: 10px 120px;
        }

        .Ro__Ma__Se3__Div1 {
            padding-top: 4rem;

            .Ro__Ma__Se3__Div1__Div1 {
                padding-bottom: 2rem;
                padding-left: 2rem;

                .Ro__Ma__Se3__Div1__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se3__Div1__Div2 {
                padding-right: 2rem;

                .Ro__Ma__Se3__Div1__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }
        }

        .Ro__Ma__Se3__Div2 {
            .Ro__Ma__Se3__Div2__Div1 {
                padding-bottom: 2rem;

                .Ro__Ma__Se3__Div2__Div1 {
                    padding-bottom: 2rem;
                }

                .Ro__Ma__Se3__Div2__Div1__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

            .Ro__Ma__Se3__Div2__Div2 {
                .Ro__Ma__Se3__Div2__Div2__Img {
                    border: 3px solid black;
                    border-radius: 10px;
                }
            }

        }
        .Ro__Ma__Se3__Div3 {
            padding: 1rem;
            .Ro__Ma__Se3__Div3__Div1{
                padding-bottom: 2rem;
                .Ro__Ma__Se3__Div3__Div1__Img{
                    border: 3px solid black;
                    border-radius: 10px;
               }
            }
            .Ro__Ma__Se3__Div3__Div2{
                .Ro__Ma__Se3__Div3__Div2__Img{
                    border: 3px solid black;
                    border-radius: 10px;
               }
            }
        }
        .Ro__Ma__Se3__Div4{
            padding: 1rem;
            .Ro__Ma__Se3__Div4__Div1{
                padding-bottom: 1rem;
                .Ro__Ma__Se3__Div4__Div1__Img{
                    border: 3px solid black;
                    border-radius: 10px;
               }
            }
            .Ro__Ma__Se3__Div4__Div2{
                .Ro__Ma__Se3__Div4__Div2__Img{
                    border: 3px solid black;
                    border-radius: 10px;.Ro__Ma__Se1__Se2__Se3__H2{
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        background-color: black;
                        color: rgb(255, 255, 255);
                        text-align: center;
                        border-radius: 120px 120px 120px;
                        font-size: 1.3rem;
                    }
                    
               }
            }
        }
    }

    .Ro__Ma__Se1__Se2__Se3__H2{
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: black;
        color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 120px 120px 120px;
        font-size: 1.3rem;
    }
    
}