.Somi__Ma {
    background: $fondo-violeta-degrade;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;

    .Somi__Ma__H1 {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: $fondo-titulo-principal;
        color: $fuente-color-principal;
        margin-top: 1%;
        font-size: 1.5rem;
        text-align: $text-aling;
    }

    .Somi__Ma__Sec1 {
        display: flex;
        padding-bottom: 1rem;
        padding-top: 1rem;

        .Somi__Ma__Sec1__Div1 {

            .Somi__Ma__Sec1__Div1__Div1 {
                padding-right: map-get($paddingright, P2);
                padding-top: 2rem;
                .Somi__Ma__Sec1__Div1__Div1__Img {
                    border: $bordes-color-imagen;
                    border-radius: $bordes-imagenes;
                }
            }

            .Somi__Ma__Sec1__Div1__Div2 {
                padding-right:map-get($paddingright, P2);
                padding-top: 2rem;
                padding-bottom: 2rem;
                .Somi__Ma__Sec1__Div1__Div2__P {
                    text-align: center;
                    font-size: 1.1rem;
                    align-items: center;
                    color:$fuente-color-secundario;
                    background-color:$fondo-p;
                    border:$bordes-p;
                    padding-top: 2rem;
                    padding-left: 2rem;
                    padding-right: map-get($paddingright, P2);
                    padding-bottom: 2rem;
                }
            }
        }
    }

    .Somi__Ma__H2 {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: $fondo-titulo-secundario;
        color: $fuente-color-secundario;
        border-radius: $bordes-titulo-secundario;
    }

    .Somi__Ma__Sec2 {
     

        .Somi__Ma__Sec2__Div1 {
           
            display: flex;
            padding-bottom: 3rem;
            padding-top: 1rem;
            

            .Somi__Ma__Sec2__Div1__Div1 {
               
                padding-right: map-get($paddingright, P3 );
                padding-top: 2rem;
                padding-bottom: 2rem;
                .Somi__Ma__Sec2__Div1__Div1__P {
                    text-align:$text-aling;
                    font-size: 1rem;
                    align-items: center;
                    color:$fuente-color-secundario;
                    background-color: $fondo-p;
                    border:$bordes-p;
                    padding-top: 2rem;
                    padding-left: 2rem;
                    padding-right: map-get($paddingright, P2 );
                    padding-bottom: 3rem;
                }
            }

            .Somi__Ma__Sec2__Div1__Div2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 2rem;
                padding-bottom: 3rem;
                padding-left: 8rem;
                padding-right: map-get($paddingright, P8 );
                
                .Somi__Ma__Sec2__Div__Img {
                    border: $bordes-color-imagen;
                    border-radius:$bordes-imagenes;
                 
                    
                }
            }
        }

        
    }
    .Somi__Ma__Sec3 {
        .Somi__Ma__Sec3__H2 {
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: $fondo-titulo-secundario;
            color:$fuente-color-secundario;
            text-align: $text-aling;
            border-radius: $bordes-piedepagina;
        }
    }
}