$fondo-violeta-degrade: linear-gradient(to right, #aa77fd, #7f00ff);
$fondo-titulo-principal: rgb(146, 13, 102);
$fuente-color-principal: rgb(0, 0, 0);
$fondo-titulo-secundario: black;
$fuente-color-secundario: rgb(255, 255, 255);
$text-aling: center;
$bordes-titulo-secundario: 10px 120px;
$bordes-piedepagina: 120px 120px 120px;
$bordes-imagenes: 10px;
$bordes-color-imagen: 3px solid black;
$fondo-p: rgba(0, 0, 0, 0.226);
$bordes-p: solid rgb(39, 36, 36);



/*maps*/
$paddingright: (
    P1:1rem,
    P2:2rem,
    P3:3rem,
    P38:3.8rem,
    P8:8rem
    );
    