@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
*¨{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


/*Header*/
.Header{ 
   
    font-family: 'Montserrat', sans-serif !important;
    height: 30vh;
    background-color: rgb(0, 0, 0);
}
.Header__Nav{
   height:100% ;

} 
.Header__Nav__Div{
    height:100% ;
}
.Header__Nav__Div__A{
    width: 55%;
}
.Header__Nav__Div__A__Img{
    width: 30%;
}
.Header__Nav__Div__Button{
background-color: aliceblue;

}
.Header__Nav__Div__Div{
height:100% ;
}
.Header__Nav__Div__Div__Ul{
    font-size: 1.5rem;

}
.Header__Nav__Div__Div__Ul__Li__Inicio {

}
.Header__Nav__Div__Div__Ul__Li__Inicio__A{
color: blueviolet;
}
.Header__Nav__Div__Div__Ul__Li__SobreMi{

}
.Header__Nav__Div__Div__Ul__Li__SobreMi__A{
    color: blueviolet;
}
.Header__Nav__Div__Div__Ul__Li__Ropa{

}
.Header__Nav__Div__Div__Ul__Li__Ropa__A{
    color: blueviolet;
}
.Header__Nav__Div__Div__Ul__Li__Accesorios{

}
.Header__Nav__Div__Div__Ul__Li__Accesorios__A{
    color: blueviolet;
}
.Header__Nav__Div__Div__Ul__Li__Contacto{

}
.Header__Nav__Div__Div__Ul__Li__Contacto__A{
    color: blueviolet;
}
/* Main Inicio */
.In__Ma{
    background: linear-gradient(to right, #aa77fd, #7f00ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.In__Ma__Sec1{
display: flex;
flex-direction: column;
justify-content: center;
}
.In__Ma__Sec1__H1{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size:2rem;
    text-align: center;
}
.In__Ma__Sec1__Div {
    display: flex;
    
}
.In__Ma__Sec1__Div__P{
padding: 2rem;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
text-align: center;
}
.In__Ma__Sec1__Div__Img{
border-radius: 30px;
padding-top: 1rem;
padding-left: 1rem;
padding-bottom: 1rem;
padding-right: 1rem;
}
.In__Ma__Sec2{
    display: flex;
    flex-direction: column;
}
.In__Ma__Sec2__h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size:2rem;
    text-align: center;
}
.In__Ma__Sec2__Div__P{
    padding-top: 2rem;
    display: flex;
justify-content: center;
font-size: 1.5rem;
text-align: center;
}

.In__Ma__Sec3__h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size:2rem;
    text-align: center;
}
.In__Ma__Sec3__Div{
display: flex;
}
.In__Ma__Sec3__Div__Img{
    border-radius: 30rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.In__Ma__Sec3__Div__P{
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
padding: 3rem;
padding-top: 4rem;
text-align: center;
}
.In__Ma__Sec4{

}
.In__Ma__Sec4__H2a{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size:2rem;
    text-align: center;
}
.In__Ma__Sec4__Div{
    display: flex;
    justify-content: space-evenly;

}
.In__Ma__Sec4__Div__Img{
    padding-top: 2rem;
    padding-bottom: 2rem;
display: flex;
justify-content: center;
}
.In__Ma__Sec4__Div__P{
display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
text-align: center;
}
.In__Ma__Sec4__h2b{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size:2rem;
    text-align: center;
}
/* Main Sobre Mi */
.Somi__Ma{
    background: linear-gradient(to right, #aa77fd, #7f00ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.Somi__Ma__Sec1{}
.Somi__Ma__Sec1__H1{  
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size:2rem;
    text-align: center;
}

.Somi__Ma__Sec1__Div{
    display: flex;
}
.Somi__Ma__Sec1__Div__Img{
    padding: 1rem;
}
.Somi__Ma__Sec1__Div__P{
    display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
text-align: center;
}
.Somi__Ma__Sec2{}
.Somi__Ma__H2{  
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;}
.Somi__Ma__Sec2__Div{display: flex;
flex-direction: row-reverse;}
.Somi__Ma__Sec2__Div__Img{padding: 1rem;}
.Somi__Ma__Sec2__Div__P{display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;}

.Somi__Ma__Sec3__H2{ 
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size:1.5rem;
    text-align: center;
}
/* Main contacto */


/* Main Ropa */
.Ro__Ma{
    background: linear-gradient(to right, #aa77fd, #7f00ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.Ro__Ma__H1{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size: 1.5rem;
    text-align: center;
}
.Ro__Ma__Se1__H2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
}
/*div1 NW*/
.Ro__Ma__Se1__Div1{
    padding: 1rem;
  
}
.Ro__Ma__Se1__Div1__Div1{
    padding-bottom: 2rem;
}
.Ro__Ma__Div1__Div1__Div2{
    padding-bottom: 2rem;
}
/*div2 NW*/
.Ro__Ma__Se1__Div2{
    padding: 1rem;
}
.Ro__Ma__Se1__Div2__Div1{
    padding-bottom: 2rem;
}
.Ro__Ma__Se1__Div2__Div2{
    padding-bottom: 2rem;
}
/*DIV3 nw*/
.Ro__Ma__Se1__Div3{
    padding: 1rem;
}
.Ro__Ma__Se1__Div3__Div1{
    padding-bottom: 2rem;
}
.Ro__Ma__Se1__Div3__Div2{
    padding-bottom: 2rem;
}
/*seccion tradi*/
.Ro__Ma__Se2__H1{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
}
/*div1 tradi*/
.Ro__Ma__Se2__Div1{
    padding: 1rem;
}
.Ro__Ma__Se2__Div1__Div1{
 padding-bottom: 2rem;   
}
.Ro__Ma__Se2__Div1__Div2{
    padding-bottom: 2rem;
}
/*div2 tradi*/
.Ro__Ma__Se2__Div2{
    padding: 1rem;
}
.Ro__Ma__Se2__Div2__Div1{
    padding-bottom: 2rem;
}
.Ro__Ma__Se2__Div2__Div2{
    padding-bottom: 2rem;
}
/*div3 tradi*/
.Ro__Ma__Se2__Div3{
    padding: 1rem;
}
.Ro__Ma__Se2__Div3__Div1{
    padding-bottom: 2rem;
}
.Ro__Ma__Se2__Div3__Div2{
    padding-bottom: 2rem;
}
/*seccion hk*/
.Ro__Ma__Se3__H1{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;  
}
/*div1hk*/
.Ro__Ma__Se3__Div1{
    padding:1rem;
}
.Ro__Ma__Se3__Div1__Div1{
    padding-bottom: 2rem;
}
/*div2hk*/
.Ro__Ma__Se3__Div2{
    padding: 1rem;
}
.Ro__Ma__Se3__Div2__Div1{
    padding-bottom: 2rem;
}
/*div3hk*/
.Ro__Ma__Se3__Div3{
    padding: 1rem;
}
.Ro__Ma__Se3__Div3__Div1{
    padding-bottom: 2rem;
}
/*div4hk*/
.Ro__Ma__Se3__Div4{
    padding: 1rem;
}
.Ro__Ma__Se3__Div4__Div1{
    padding-bottom: 2rem;
}
.Ro__Ma__Se1__Se2__Se3__H2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
    text-align: center;
}

/* Main Accesorios */
.Acc__Ma{ 
    background: linear-gradient(to right, #aa77fd, #7f00ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.Acc__Ma__Se__H1{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:black;
    color: blueviolet;
    margin-top: 1%;
    font-size: 1.5rem;
    text-align: center;
}
.Acc__Ma__H2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
}
.Acc__Ma__Div1__Div1{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.Acc__Ma__Div1__Div1__Div1{
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.Acc__Ma__H2a{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
}
.Acc__Ma__Div2__Div1{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.Acc__Ma__Div2__Div1__Div1{
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.Acc__Ma__H2b{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
   
}
.Acc__Ma__Div3__Div1{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
}
.Acc__Ma__Div3__Div1__Div1{
    padding-right: 1rem;
    padding-bottom: 2rem;
}


.Acc__Ma__H2c{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
}
.Acc__Ma__Div4__Div1{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.Acc__Ma__Div4__Div1__Div1{
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.Acc__Ma__Div4__Div1__Div2{
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.Acc__Ma__Div4__Div1__Div3{
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.Acc__Ma__H2d{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blueviolet;
    text-align: center;
}
.Con__Ma{
    background: linear-gradient(to right, #aa77fd, #7f00ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.Con__Ma__Se1{

}
.Con__Ma__Se1__H1{
    display: flex;
    justify-content: center;
}
.Con__Ma__Se1__Div1{

}
.Con__Ma__Se1__Div1__H2{
    display: flex;
    justify-content: center;
}
.Con__Ma__Se1__Div1__P{
    display: flex;
    justify-content: center;
    padding: 3rem;

}
.Con__Ma__Se1__Div2{

}
.Con__Ma__Se1__Div2__H2{
display: flex;
justify-content: center;
}
.Con__Ma__Se1__Div2__P{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.Con__Ma__Se2{

}
.Con__Ma__Se2__H2{

}
.Con__Ma__Se2__Form{

}
.Con__Ma__Se2__Form__Div1{

}
.Con__Ma__Se2__Form__Div1__Label1{

}
.Con__Ma__Se2__Form__Div1__Input1{

}
.Con__Ma__Se2__Form__Div2{

}
.Con__Ma__Se2__Form__Div2__Label2{

}
.Con__Ma__Se2__Form__Div2__Input2{

}
.Con__Ma__Se2__Form__Div3{

}
.Con__Ma__Se2__Form__Div3__label3{

}
.Con__Ma__Se2__Form__Div3__Textarea{

}
/* Footer */
.Footer{
    background-color: black;
}
.Footer__Div{}
.Footer__Div__A{}
.Footer__Div__A__Img{}
.Footer__Div__Span{
    color:blueviolet
}
.Footer__Ul{}
.Footer__Ul__Li1{}
.Footer__Ul__Li1__A{}
.Footer__Ul__Li1__A__I{color:blueviolet}
.Footer__Ul__Li2{}
.Footer__Ul__Li2__A{}
.Footer__Ul__Li2__A__I{color:blueviolet}
.Footer__Ul__Li3{}
.Footer__Ul__Li3__A{}
.Footer__Ul__Li3__A__I{color:blueviolet}
@media screen and (min-width: 0px) and (max-width: 1024px) {
    .Footer {
      flex-wrap: nowrap;
      width: 100%;
      display: none;
    }
    .Footer .Footer__Div {
      width: 50%;
      flex-direction: column;
    }
    .Footer .Footer__Div .Footer__Div__A .Footer__Div__A__Img {
      color: black;
    }
    .Footer .Footer__Div .Footer__Div__A .Footer__Div__A__Span {
      color: black;
    }
  }